<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer Science</title>
</head>
<body>
    <h2>Computer Science Students</h2>

<table border="1" cellpadding="8">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Stage</th>
            <th>Courses</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Alice Johnson</td>
            <td>1st stage</td>
            <td>Database,Compiler</td>
        </tr>
        <tr>
            <td>Bob Smith</td>
            <td>2nd stage</td>
            <td>Web Development</td>
        </tr>
        <tr>
            <td>Charlie Lee</td>
            <td>3rd stage</td>
            <td>Databases, Algorithms, Operating Systems</td>
        </tr>
        <tr>
            <td>Diana Williams</td>
            <td>4th stage</td>
            <td>Machine Learning,Information Security</td>
        </tr>
    </tbody>
</table>
<a href="departments">Departments page</a>
</body>
</html>