<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departments</title>
</head>
<body>
    <h1>Academic Departments</h1>
<ul>
    <li>
        <strong><a href="cs"> CS page</a></strong><br>
        
    </li>
    <li>
        <strong><a href="biology">Biology page</a></strong><br>
    </li>
    <li>
        <strong><a href="history">History page</a></strong><br>
        
    </li>

        <li>
        <strong><a href="home">Home page</a></strong><br>
        
    </li>
</ul>
</body>
</html>